# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv/
venv/

# Backend data
backend/data/*.json

# Frontend
frontend/node_modules/
frontend/dist/

# OS/editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
